.bv-container .container {
 display: flex;
 align-items: center;
 justify-content: center;
 overflow: visible;
}

.bc-video {
 width: 95%;
 border-radius: 4rem;  
 margin-top: -10rem;
 z-index: 1; 
}

@media (max-width: 1024px) {
    .bc-video {
        margin-top: 1rem;
    }
}

@media (max-width: 768px) {
    .bc-video {
        margin-top: 2rem;
    }
}

